.navbar-list {
  padding: 3em;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
}

a:hover {
  background-color: #474747;
  border-radius: 5px;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}

.selected {
  background-color: hotpink;
  border-radius: 5px;
}