ul {
  padding: 3em;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
}


a{
    color: white;
    text-decoration: none;
    padding: 1em;
}

a:hover {
  background-color: #474747;
  border-radius: 5px;
  color: red;
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: white;
}
