.topics-list {
  padding: 3em;
  list-style: none;
  display: flex;
  flex-direction: row;
  text-decoration: none;
  justify-content: center;
}

.selected-topics {
  background-color: rgb(255, 202, 228);
  border-radius: 5px;
}
